.header-wrapper {
  background: #292A2D;
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25);
  display: grid;
  height: 82px;
  grid-template-columns: 3fr 1fr 2fr 1fr 2fr;
  justify-items: center;
  align-items: center;

  .search-field {
    display: grid;
    width: 100%;
    input {
      justify-self: center;
      width: 90%;
      position: relative;
      height: 36px;
      background: #1F1E20 url("svg/search.svg") no-repeat scroll right;
      box-shadow: none;
      outline: none;
      border: none;
      color: #40BA93;
      font-weight: 700;
      font-size: 14px;
      &:focus {
        border: 2px solid #40BA93;
      }
    }
  }
  // This is invisible in non-mobile mode
  .left-sidebar {
    display: none;
  }
  .right-options-bar {
    display: none;
  }

  .address {
    color: #40BA93;
    width: 13ch;
  }

  .account-button {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    grid-gap: 1em;

    span {
      color: white;
    }
    button {
      width: 55px;
      cursor: pointer;
      height: 55px;
      border-radius: 50%;
      border: 0;
      background-color: black;
      i {
        font-size: 20px;
        color: white;
      }
    }
  }

  // Phones
  @media only screen and (min-device-width : 320px) and (max-device-width : 768px) {
    display: grid;
    height: 82px;
    grid-template-columns: 1fr 5fr 1fr;
    .search-field {
      input {
        width: 100%;
        justify-self: center;
        font-size: 12px;
      }
    }
    .left-sidebar {
      display: grid;
      button {
        border: 1px solid transparent;
        background-color: transparent;
        font-size: 20px;
        color: #40BA93;
      }
    }
    .right-options-bar {
      display: grid;
      button {
        border: 1px solid transparent;
        background-color: transparent;
        font-size: 20px;
        color: #40BA93;
      }
    }
    .gasPrice {
      display: none;
      justify-self: center;
      &__preView {
        height: 10px;
        width: 140px;
      }
    }
    .walletBalance {
      display: none;
      width: 162px;
      &__preView {
        width: 162px;
        height: 34px;

        &__title {
          font-size: 14px;
        }


        &__value {
          font-size: 10px;
        }
      }
    }
    .address {
      display: none;
      order: 1;
    }
    .account-button {
      display: none;
      order: 2;
    }




  }

  // Tablets
  @media only screen and (min-device-width : 769px) and (max-device-width : 1223px) {

    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    height: 60px;
    .search-field {
      input {
        height: 22px;
        font-size: 10px;
      }
    }
    .gasPrice {
      &__preView {
        height: 25px;
        width: 100px;
        span {
          font-size: 12px;
          white-space: nowrap;
        }
      }
      &__list {
        font-size: 10px;
        max-width: 105px;
        &__h4 {
          font-size: 12px;
        }
        & input {
          max-width: 90%;
          &:focus {
            outline: none;
            border: 1px solid #40BA93;
          }
        }
        &__item {
          height: 20px;
          font-size: 12px;
        }

        &--open {
          height: 180px;
        }
      }
    }
    .walletBalance {
      &__preView {
        width: 150px;
        height: 25px;
        svg {
          padding-left: 5px;
        }
        &__title {
          padding-right: 0px;
          font-size: 12px;
        }
        &__value {
          padding-right: 10px;
          font-size: 10px;
        }
      }
      &__tokens {
        &--open {
          width: 136px;
        }
        &__buttons {
          button {
            height: 30px;
            font-size: 10px;
            line-height: 10px;
          }
        }
      }

    }
    .address {
      color: #40BA93;
      font-size: 10px;
    }

    .account-button {
      grid-gap: 5px;
      span {
        color: white;
        font-size: 12px;
        white-space: nowrap;
      }
      button {
        width: 35px;
        height: 35px;
        i {
          font-size: 14px;
          color: white;
        }
      }
    }


  }
  // Laptops and little PC screens
  @media only screen and (min-width : 1224px) and (max-device-width: 1824px) {
    height: 62px;
    grid-template-columns: 35% 15% 20% 15% 15%;
    .search-field {
      input {
        height: 25px;
        font-size: 12px;
      }

    }

    .gasPrice {
      display: grid;
      justify-self: center;
      font-size: 13px;
      &__preView {
        height: 25px;
        width: 125px;
        span {
          font-size: 12px;
          white-space: nowrap;
        }
      }
      &__list {
        max-width: 130px;

        &__h4 {
          font-size: 12px;
        }
        & input {
          max-width: 90%;
          &:focus {
            outline: none;
            border: 1px solid #40BA93;
          }
        }

        &--open {
          height: 180px;
        }
      }
    }
    .walletBalance {

      &__preView {
        height: 25px;
        width: 200px;

      }
      &__tokens {
        &--open {
          width: 185px;
        }
      }

    }
    .address {
      color: #40BA93;
      font-size: 14px;
    }
    .account-button {
      grid-gap: 5px;
      span {
        color: white;
        font-size: 14px;
        white-space: nowrap;
      }
      button {
        width: 35px;
        height: 35px;
        i {
          font-size: 14px;
          color: white;
        }
      }
    }

  }
}

.light {
  background-color: white;

  .search-field {
    input {
      background-color: #F2F2F2;
    }
  }
  & .gasPrice {
    color: #4F4F4F;
    &__preView {

      & span {
        color: black;
      }
    }
  }

  & .gasPrice__list {
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);

    &__h4 {
      color: #4F4F4F;
    }

    & input {
      background: #F2F2F2;
      color: #fff;
    }

    &__item {
      background: #F2F2F2;
      color: black;

      &--active {
        background: #40BA93;
        color: white;
      }
    }
  }

  .walletBalance__tokens {
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);

    &__list {
      background: #F2F2F2;


      &__items{
        & span{
          color: #4F4F4F;
        }
      }
    }
  }

  .walletBalance__tokens__buttons__button {
    background: #F2F2F2;
    color: #BDBDBD;

    &--active {
      color: #fff;
      background: #3EB38E;
    }
  }


  .walletBalance__preView__value {
    color: #4F4F4F;
  }

  .account-button {

    span {
      color: black!important;
    }
    button {
      background-color: #40BA93!important;
      i {
        color: white;
      }
    }
  }

}

.cardWithInfo {
  &__navigation{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;

    &__button{
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 30px;
      line-height: 35px;
      color: inherit;
      border: none;
      background: none;
    }

    & ul{
      margin: 0;
    }

    &__number{
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      opacity: 0.8;
      color: inherit;
      border: none;
      background: none;

      &--active{
        opacity: 1;
      }
    }
  }
}



