.walletModal-bg{
  position: absolute;
  top: 0;
  left: 0;
  background: #000000a8;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;

  align-items: center;
  cursor: pointer;
}

.walletModal{
  width: clamp(1000px, 75%, 1400px);
  height: clamp(375px, 75%, 775px);

  cursor: initial;
  background: #292A2D;
  padding: 3.5% 5%;
  box-sizing: border-box;
  color: #444;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 7.5% 7.5% 5% 15% 65%;

  .walletModal-close{

    display: flex;
    justify-content: flex-end;


    & svg{
      justify-content: flex-end;
      cursor: pointer;
    }
  }

  .walletModal-h3{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: white;
    @media only screen and (max-width: 1500px) {
        font-size: 20px;
    }
  }

  .walletModal-h4{
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    @media only screen and (max-width: 1500px) {
        font-size: 18px;
    }
    line-height: 23px;

    color: #40BA93;
  }

  .walletModal-terms{
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    color: white;
    @media only screen and (max-width: 1500px) {
      font-size: 14px;
  }
    line-height: 21px;
    display: grid;
    grid-template-columns: 1fr 10fr;
    align-items: center;

    .container {
      display: block;
      position: relative;
      padding-left: 15px;
      margin: 0 0 17px;
      max-width: 20px;
      cursor: pointer;
      font-size: 22px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    .container input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 17px;
      width: 17px;
      background: none;
      border: 1px solid #40BA93;
    }

    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }

    .container input:checked ~ .checkmark:after {
      display: block;
    }

    .container .checkmark:after {
      left: 5px;
      top: 1px;
      width: 5px;
      height: 10px;
      border: solid #40BA93;
      border-width: 0 1px 1px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    & p{
      margin: 0;
    }

    & a{
      color: inherit;
      text-decoration: underline!important;
      cursor: pointer!important;
    }
  }

  .walletModal-list{
    padding: 2.5% 4%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    column-gap: 5px;
    row-gap: 25px;
    background: #1F1E20;
    border-radius: 30px;
    color: #000;

    &__item{
      display: grid;
      grid-template-columns: 20% 1fr;
      padding: 10px 15px;
      box-sizing: border-box;
      align-items: center;
      width: clamp(169px ,100%, 269px);
      column-gap: 5%;
      cursor: pointer;
      height: clamp(72px ,100%, 72px);
      background: #292A2D;
      border-radius: 30px;

      @media only screen and (max-width: 1500px) {
        h5 {
          font-size: 16px;
        }
      }
      &:hover {
        transition: 0.3s;
        background-color: #40BA93;
        color: white;
      }

      &__figure{
        margin: 0;
        width: 49px;
        height: 49px;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #1F1E20;
      }

      &__h5{
        margin: 0;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        color: white;
      }
    }
  }
}

.walletModal-light {
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  .walletModal-h3 {
    color: black;
  }
  .walletModal-terms {
    p {
      color: black;
    }
  }
  .walletModal-list {
    background: #F2F2F2;
    &__item {
      background: #BDBDBD;
      &__h5{
        color: black;
      }
    }
  }
}
