.gasPrice {
  position: relative;
  color: white;
  justify-self: flex-start;
  font-size: 15px;
  width: 100%;
  max-width: 181px;
  &__preView {
    max-width: 155px;
    height: 36px;
    border: 1px solid #333333;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    align-items: center;
    justify-items: center;
    cursor: pointer;
    color: #4F4F4F;

    &.open {
      & svg:last-child {
        transform: rotate(
                        180deg
        );
      }
    }

    & span {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: white;
    }

    & svg:last-child {
      transition: all .3s;
      width: 10px;
      height: 6px;
    }
  }

  &__list {
    position: absolute;
    top: 37px;
    z-index: 10000;
    height: 0;
    max-width: 155px;
    width: 100%;
    background: #292A2D;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);

    padding: 0;
    transition: all .3s;
    overflow: hidden;

    &__h4 {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 16px;
      margin: 0;
      padding: 0 0 15px 0;
      color: white;
    }

    & input {
      background: #1F1E20;
      border: none;
      padding: 5px;
      color: inherit;
      max-width: 100%;
      color: #444;
    }


    &__item {
      font-family: Roboto;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 16px;
      background: #1F1E20;

      padding: 8px 13px;
      margin: 3px 0;
      cursor: pointer;
      color: white;

      &--active {
        background: #40BA93;
      }
    }

    &--open {
      height: 240px;
      padding: 23px 9px 9px;
    }
  }
}