.accounts-wrapper {
    position: relative;
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5% 50% 45%;
    grid-column-gap: 2.5%;
    grid-row-gap: 1.25%;

    .acc-hisotry {
        z-index: 9999999;
        position: absolute;
        right: 0;
        width: 0%;
        height: 100%;
        background-color: #15151A;
        display: grid;
        opacity: 0;
        visibility: hidden;
        grid-template-rows: 5% 15% 80%;
        padding-right: 2.5%;
        padding-left: 2.5%;
        box-sizing: border-box;
        transition: 1s all;
        a {
            color: #4F4F4F;
            text-decoration: none;
            i {
                color: #40BA93;
            }
        }
        .acc-hisotry-header {
            display: grid;
            grid-template-columns: 20% 60% 20%;
            h1 {
                color: white;
                align-self: flex-start;
            }
            input {
                justify-self: center;
                align-self: flex-start;
                width: clamp(355px,100%,655px);
                height: clamp(40px, 100%, 50px);
                background-color: transparent;
                border-radius: 25px;
                border: 1px solid #40BA93;
                padding-left: 25px;
                padding-right: 5%;
                font-size: 18px;
                background-image: url('../../assets/icons/search-input.svg');
                background-repeat: no-repeat;
                background-position: 95% center;
                box-sizing: border-box;
                outline: 0;
                &::placeholder {
                    color: #40524C;
                }
                color: white;
                &:focus {
                    outline: none;
                }
            }
            button {
                background-color: transparent;
                height: 42px;
                width: clamp(131px, 100%, 171px);
                border: 1px solid #4F4F4F;
                box-sizing: border-box;
                border-radius: 25px;
                color: white;
                justify-self: flex-end;
                cursor: pointer;
                font-size: 14px;
                &:hover {
                    transition: 0.3s;
                    background-color: #40BA93;
                    border: 1px solid #40BA93;
                }
            }
        } 
    }
    .acc-history-opened {
        animation: historyMount 1s;
        width: 100%;
        opacity: 1;
        visibility: visible;
        
    }

    @keyframes historyMount {
        0% {
            width: 0%;
            opacity: 0;
            visibility: hidden;
        }
        10% {
            visibility: visible;
        }
        20% {
            opacity: 1;
        }
        100% {
            width: 100%;
        }
    }

    @keyframes historyDestroy {
        0% {
            width: 100%;
            opacity: 1;
        }
        100% {
            width: 0%;
            opacity: 0;
        }
    }

    .accounts-wrapper-header {
        color: white; 
        grid-column: 1/3;
        padding-left: 3%;
        @media only screen and (max-width: 1500px) {
                font-size: 24px;
        }
    }

    .main-block {
        background: radial-gradient(61.16% 3404.86% at 48.28% 79.61%, rgba(30, 117, 89, 0.3) 0%, rgba(9, 33, 25, 0.3) 100%), linear-gradient(90.99deg, #272727 2.18%, #1C1C1C 104.4%);
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
        border-radius: 40px;
        width: clamp(450px, 95%, 798px);
        height: clamp(300px, 100%,476px);
        box-sizing: border-box;
        padding: 3% 6%;
    }

    .secondary-block {
        background: linear-gradient(90.99deg, #1D1D1D 2.18%, #232323 104.4%);
        border-radius: 40px;
        align-self: center;
        justify-self: center;
        width: clamp(380px, 80%,620px);
        height: clamp(245px, 70%, 300px);
        box-sizing: border-box;
        padding: 3% 6%;
    }

    .accounts-wrapper-portoflio-perf {
        justify-self: flex-end;
        display: grid;
        grid-template-rows: 1fr 1fr 8fr;
        h1 {
            color: white;
            font-size: 18px;
            @media only screen and (max-width: 1500px) {
                font-size: 14px;
            }
        }
        &__header-control-panel {
            display: grid;
            grid-template-columns: 2fr 1fr;
            &__time-frame-list {
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                grid-column-gap: 5px;
                button {
                    background-color: transparent;
                    color: white;
                    border: 0;
                    border-radius: 12px;
                    cursor: pointer;
                    &:hover {
                        transition: 0.3s;
                        background-color: #E0E0E0;
                    }                 
                }
                .active-frame {
                    background-color: #40BA93;
                    &:hover {
                        background-color: #40BA93;
                    }   
                }
            }
        }
        &__price-change {
            display: grid;
            justify-items: flex-end;
            h1 {
                color: #40BA93;
            }
        } 
        &__chart {
            width: 100%;
            height: 100%;
            place-self: center;
            color: white;
            h1 {
                font-size: 50px;
            }
        }
    }

    .accounts-wrapper-portoflio-assets {
        justify-self: flex-start;
        display: grid;
        grid-template-rows: 15% 85%;
        &__header {
            display: grid;
            grid-template-columns: 1fr 1fr;
            h1 {
                @media only screen and (max-width: 1500px) {
                    font-size: 14px;
                }
                font-size: 18px;
                color: white;
                justify-self: flex-start;
                &:last-child {
                    font-size: 12px;
                    grid-column: 1/2;
                    color: red;
                }
            }
            button {
                justify-self: flex-end;
                display: grid;
                grid-template-columns: 2fr 1fr;
                align-items: center;
                width: 115px;
                height: 39px;
                background-color: #1E1E1E;
                color: white;
                border-radius: 15px;
                border: 0;
                cursor: pointer;
            }
        }

        &__assets-chart-info {
            display: grid;
            grid-template-columns: 45% 55%;

            &__assets-list {
                display: grid;
                grid-template-rows: 1fr 10fr;
                h3 {
                    color: #828282;
                    font-size: 14px;
                    @media only screen and (max-width: 1500px) {
                        font-size: 12px;
                    }
                }
                ul {
                    justify-self: center;
                    align-self: center;
                    width: 100%;
                    li {
                        display: grid;
                        grid-template-columns: 3fr 1fr;
                        margin-bottom: 1%;
                        align-items: center;
                        span {
                            display: grid;
                            align-items: center;
                            color: white;
                            @media only screen and (max-width: 1500px) {
                                font-size: 14px;
                                img {
                                    width: 15px;
                                    height: 15px;
                                }
                            }
                            font-size: 18px;
                            img {
                                width: 25px;
                                height: 25px;
                            }
                            &:first-child {
                                grid-template-columns: 15% 85%;
                            }
                            &:last-child {
                                color: #40BA93;
                            }
                        }
                        .negative-change {
                            color: #EF3725!important;
                        }
                    }
                }
            }

        }

        &__assets-bottom-info {
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            &__item {
                display: grid;
                grid-template-columns: 1fr;
                justify-items: center;
                span {
                    font-size: 14px;
                    color: white;
                    img {
                        width: 25px;
                        height: 25px;
                    }
                }
            }
        }
    }

    .accounts-wrapper-use-staking-pools {
        justify-self: flex-end;
        display: grid;
        grid-template-rows: 10% 20% 70%;
        h1 {
            @media only screen and (max-width: 1500px) {
                font-size: 14px;
            }
            font-size: 18px;
            color: white;
            justify-self: center;
        }
        &__list-header {
            align-self: center;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            justify-items: center;
            color:#4F4F4F;
            @media only screen and (max-width: 1500px) {
                span {
                    font-size: 14px;
                }
            }
        }

        ul {
            li {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                justify-items: center;
                align-items: center;
                color: white;
                div {
                    width: 100%;
                    display: grid;
                    grid-template-columns: 1fr 2fr;
                    align-items: center;
                    justify-items: center;
                    img {
                        width: 25px;
                        height: 25px;
                        @media only screen and (max-width: 1500px) {
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
                span {
                    @media only screen and (max-width: 1500px) {
                        font-size: 12px;
                    }
                }
            }
        }
    }

    .accounts-wrapper-use-liq-pools {
        justify-self: flex-start;
        display: grid;
        grid-template-rows: 10% 20% 70%;
        h1 {
            @media only screen and (max-width: 1500px) {
                font-size: 14px;
            }
            font-size: 18px;
            color: white;
            justify-self: center;
        }
        &__list-header {
            display: grid;
            align-self: center;
            grid-template-columns: 45% 30% 25%;
            justify-items: center;
            color:#4F4F4F;
            @media only screen and (max-width: 1500px) {
                span {
                    font-size: 14px;
                }
            }
        }
        ul {
            li {
                display: grid;
                grid-template-columns:  45% 30% 25%;
                justify-items: center;
                color: white;
                .dual-liq-icons {
                    display: grid;
                    width: 100%;
                    justify-self: flex-start;
                    grid-template-columns: 1fr 2fr;
                    span {
                        color: white;
                        font-size: 16px;
                        @media only screen and (max-width: 1500px) {
                            font-size: 12px;
                        }
                    }
                    img {
                        width: 25px;
                        height: 25px;
                        @media only screen and (max-width: 1500px) {
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
                    span {
                        @media only screen and (max-width: 1500px) {
                            font-size: 12px;
                        }
                    }
            }
        }
    }
}



.accounts-wrapper-light {

    .acc-hisotry {
        background-color: white;
        .acc-hisotry-header {
            h1 {
                color: black;
            }
        }
    }

    .accounts-wrapper-header {
        color: black;
    }
    .main-block {
        background: radial-gradient(113.47% 7561.36% at -5.76% -16.06%, rgba(95, 234, 190, 0.56) 0%, rgba(95, 234, 190, 0) 100%);
    }

    .secondary-block {
        background: #F2F2F2;
    }

    .accounts-wrapper-portoflio-perf {
        &__header-control-panel {
            h1 {
                color: black;
            }
            &__time-frame-list {
                button {
                    color: black;
                }
                .active-frame {
                    color: white;
                }
            }
        }
    }
    .accounts-wrapper-portoflio-assets {
        &__header {
            div {
                h1 {
                    &:first-child {
                        color: black;
                    }
                }
            }
            button {
                background: #40BA93;
            }
        }
        &__assets-chart-info {
            &__assets-list {
                ul {
                    li {
                        span {
                            color: black;
                        }
                    }
                }
            }
        }
    }
    .accounts-wrapper-use-staking-pools  {
        h1 {
            color: black;
        }
        ul {
            li {
                span {
                    color: black;
                }
            }
        }
    }
    .accounts-wrapper-use-liq-pools {
        h1 {
            color: black;
        }
        ul {
            li {
                .dual-liq-icons {
                    span {
                        color: black;
                    }
                }
                span {
                    color: black;
                }
            }
        }
    }
}

.pie-account-custom {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    width: fit-content;
    height: 60px;
    border-radius: 16px;
    background-color: #171717;
    color: white;
    place-items: center;
    img {
        width: 25px;
        height: 25px;
    }
    font-size: 18px;
}   