// Dashboard container styles
.dashboard {
    display: grid;
    grid-template-rows: 5% auto 45% auto;
    height: 100%;
   grid-column-gap: 20px;
   grid-row-gap: 6%;
   padding: 20px;
   justify-items: center;
 }
 

 // Global dashboard page chart box styles.
 .dashBox {
   background: radial-gradient(61.16% 3404.86% at 48.28% 79.61%, rgba(30, 117, 89, 0.3) 0%, rgba(9, 33, 25, 0.3) 100%), linear-gradient(90.99deg, #272727 2.18%, #1C1C1C 104.4%);
   box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
   border-radius: 40px;
  }

// Single styles for every block

  .dash-header {
    padding-left: 25px;
    display: grid;
    width: 100%;
    justify-items: flex-start;
    h1 {
        font-weight: 500;
        font-size: 36px;
        color: white;
        @media only screen and (max-width: 1500px) {
          font-size: 24px;
        }
    }
  }
  .charts-wrapper-block {
      height: 200px;
      @media only screen and (max-width: 1500px) {
        height: 150px;
      }
      box-sizing: border-box;
      width: 100%;
      max-width: 1685px;
      transition: 0.3s all ease-out;
      cursor: pointer;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      .price-block {
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: flex-start;
        padding: 20px 20px 20px 80px;
        h3 {
          color: white;
          font-size: 18px;
          margin: 0;
        }
        h1 {
          margin: 0;
          color: #40BA93;
          @media only screen and (max-width: 1500px) {
            font-size: 26px;
          }
        }
        span {
          color: white;
          @media only screen and (max-width: 1500px) {
            font-size: 14px;
            img {
              width: 10px;
              height: 10px;
            }
          }
          span {
            color: grey;
          }
        }
        &__border-line {
          position: absolute;
          width: 2px;
          height: 80%;
          right: 1px;
          background-color: #40BA93;
        }
        .chart-mini-block {
          display: none;
          opacity: 0;
          transition: 0.3s display;

        }
        .supply {
          background-color: #1E1E1E;
          border-radius: 12px;
          display: grid;
          grid-template-columns: 1fr 1fr;
          height: 35px;
          align-items: center;
          font-size: 14px;
          width: 160px;
          padding-left: 10px;
          text {
            color: #4F4F4F;
          }

        }
        .market-cap {
          background-color: #1E1E1E;
          border-radius: 12px;
          display: grid;
          grid-template-columns: 1fr 1fr;
          height: 35px;
          font-size: 14px;
          width: fit-content;
          align-items: center;
          width: 220px;
          padding-left: 10px;
          text {
            color: #4F4F4F;
          }
        }
      }
      .expand-price-block {
        display: grid;
        grid-template-rows: 20% 20% 10% 50%;
        h1 {
          font-size: 14px;
          transition: 0.3s all;
        }
        h3 {
          transition: 0.3s all;
        }
        span {
          font-size: 10px;
          transition: 0.3s all;

        }
        .chart-mini-block {
          display: grid;
          width: 100%;
          height: 100%;
          align-items: center;
          transition: 0.3s display;
          opacity: 1;
        }
      }
  }

  .expanded-chart-block {
    transition: 0.3s all ease-out;
    height: 550px;           
    @media only screen and (max-width: 1500px) {
      height: 400px;
    }

    display: grid;
    .price-block {
      padding-left: 40px;
      padding-right: 5px;
    }

  }

  .dash-tvl-volume {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100%;
    grid-column-gap: 5%;
    .tvl {
      display: grid;
      align-self: center;
      box-sizing: border-box;
      justify-self: flex-start;
      grid-template-rows: 30% 70%;
      width: clamp(550px, 100%, 798px);
      height: clamp(222px ,100%, 442px);
      padding-top: 20px;
      .tvl-info {
        display: grid;
        grid-template-rows: 20% 50% 30%;
        padding-left: 12.27%;
        p {
           font-weight: 500;
           font-size: 18px;
           color: white;
           @media only screen and (max-width: 1500px) {
            font-size: 14px;
          }
        }
        h1 {
           color: #40BA93;
           font-weight: 500;
           font-size: 36px;
           @media only screen and (max-width: 1500px) {
            font-size: 26px;
          }
        }
      }
      .tvl-chart {
         padding-left: 8.85%;
         padding-right: 8.85%;
      }
   }
   .volume24 {
     display: grid;
     align-self: center;
     justify-self: flex-end;
     grid-template-rows: 30% 70%;
     box-sizing: border-box;

  
     width: clamp(550px, 100%, 798px);
     height: clamp(222px ,100%, 442px);
     padding-top: 20px;
     .volume24-info {
       display: grid;
       grid-template-rows: 20% 50% 30%;
       padding-left: 12.27%;
       p {
          font-weight: 500;
          font-size: 18px;
          color: white;
          @media only screen and (max-width: 1500px) {
            font-size: 14px;
          }
       }
       h1 {
          color: #40BA93;
          font-weight: 500;
          font-size: 36px;
          @media only screen and (max-width: 1500px) {
            font-size: 26px;
          }
       }
     }
     .volume24-chart {
      padding-left: 8.85%;
      padding-right: 8.85%;
     }
   }
  }




 // TODO: Rewrite table styles.

 .transactions {

    height: clamp(500px,100%,683px);
    width: clamp(1083px, 100%, 1683px);
    padding: 1.75% 4.75%;
    box-sizing: border-box;

    .border-line-transactions {
      width: 100%;
      height: 2px;
      background-color: #333333;
    }

    h2 {
       color: white;
       @media only screen and (max-width: 1500px) {
        font-size: 24px;
      }
    }
    .transactions-heading{
      position: relative;
  
      &__viewTypes{
        position: absolute;
        top: -5px;
        right: -5px;
        &__button{
          font-style: normal;
          cursor: pointer;
          font-weight: 300;
          font-size: 18px;
          @media only screen and (max-width: 1500px) {
            font-size: 14px;
          }
          line-height: 16px;
          min-width: 70px;
          width: fit-content;
          height: 30px;
          border: none;
          background: none;
          color: #B0B0B0;
          &--active{
            font-weight: bold;
            color: white;
            background-color: #40BA93;
            border-radius: 15px;
          }
        }
      }
    }

    &__table{
      display: grid;
      grid-template-columns: 1fr;
      row-gap: 15px;
      color: white;
      &__head{
        display: grid;
        grid-template-columns: 25% 10% 15% 15% 15% 15%;
  
        &__item{
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 21px;
          @media only screen and (max-width: 1500px) {
            font-size: 16px;
          }
  
          &__time{
            justify-self: flex-end;
            padding-right: 45px;
          }
        }
      }
  
      &__body{
        display: grid;
        grid-template-columns: 25% 10% 15% 15% 15% 15%;
        &__item{
          display: grid;
          font-style: normal;
          font-weight: 300;
          font-size: 18px;
          line-height: 21px;
          @media only screen and (max-width: 1500px) {
            font-size: 14px;
          }
  
          &__name{
            color: #40BA93;
          }
  
          &__acc{
            color: #40BA93;
          }
  
          &__time{
            justify-self: flex-end;
          }
        }
      }
      &__pagination{
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-content: center;
        div {
          display: grid;
          grid-template-columns: 1fr 2fr 1fr;
          span {
            @media only screen and (max-width: 1500px) {
              font-size: 18px;
            }
          }
          button {
            background: transparent;
            color: #40BA93;
            border: none;
            cursor: pointer;
            &:active {
              outline: none;
              border: none;
              box-shadow: none;
            }
          }
        }
      }
    }
 }

 .custom-tooltip {
   width: 80px;
   height: 40px;
   border-radius: 16px;
   background-color: #171717;
   color: white;
   display: grid;
   place-items: center;
 }

 .tvl-chart-tooltip {
    width: 120px;
    height: 60px;
 }

 .dashBoxLight {
  background: radial-gradient(225.24% 9617% at -0.8% -6.31%, rgba(95, 234, 190, 0.3) 0%, rgba(95, 234, 190, 0.057) 100%);
  background-origin: blur(40px);
  box-shadow: none;
  border: 1px solid #40BA93;

 }

 .dash-light {

  .dash-header {
    h1 {
      color: black;
    }
  }

  .charts-wrapper-block {
    .price-block {
      h3 {
        color: #333333;
      }
      span {
        color: #333333;
      }

      .supply {
        background-color: white;
      }
      .market-cap {
        background-color: white;
      }
    }
  }
  .tvl {
    background: radial-gradient(113.47% 7561.36% at -5.76% -16.06%, rgba(95, 234, 190, 0.56) 0%, rgba(95, 234, 190, 0) 100%);
    .tvl-info {
      p {
        color: #333333;
      }
    }
  }
  .volume24 {
    background: radial-gradient(139.93% 420.31% at -18.61% -23.76%, rgba(95, 234, 190, 0.55) 0%, rgba(95, 234, 190, 0) 100%);
    .volume24-info {
      p {
        color: #333333;
      }
    }
  }
  .transactions {
    .transactions-heading {
      h2 {
        color: #333333;
      }
    }
    &__table {
      &__head {
        &__item {
          color: #333333;
        }
      }
      &__body {
        &__item {
          &__name {
            color: #40BA93;
          }
          &__acc {
            color: #40BA93;
          }
          color: #333333;
        }
      } 
      &__pagination {
        div {
          span {
            color: #333333;
          }
        }
      }
    }
  }
 }

 .dashBoxLightTxs {
  background: #F2F2F2;
}