.transactions{
  grid-area: 3/ span 3;
  min-height: 500px;
  &__heading{
    position: relative;

    &__viewTypes{
      position: absolute;
      top: -5px;
      left: 310px;
      &__button{
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;

        font-size: 14px;
        line-height: 16px;
        border: none;
        background: none;
        color: #B0B0B0;
        &--active{
          font-weight: bold;
          color: #40BA93;
        }
      }
    }
  }

  &__table{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 15px;
    &__head{
      display: grid;
      grid-template-columns: 310px 1fr 1fr 1fr 1fr 1fr;
      justify-content: center;
      @media (max-width: 1440px) {
        grid-template-columns: 250px 1fr 1fr 1fr 1fr 2fr;
      }
      margin-bottom: 15px;

      &__item{
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;

        &__time{
          justify-self: flex-end;
          padding-right: 45px;
        }
      }
    }

    &__body{
      display: grid;
      grid-template-columns: 310px 1fr 1fr 1fr 1fr 1fr;
      @media (max-width: 1440px) {
        grid-template-columns: 250px 1fr 1fr 1fr 1fr 2fr;
      }
      &__item{
        display: grid;
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;

        &__name{
          color: #40BA93;
        }

        &__acc{
          color: #40BA93;
        }

        &__time{
          justify-self: flex-end;
        }
      }
    }
    &__pagination{
      margin-top: 20px;
      display: flex;
      justify-content: center;
      div {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        button {
          background: transparent;
          color: #40BA93;
          border: none;
          &:active {
            outline: none;
            border: none;
            box-shadow: none;
          }
        }
      }
    }
  }
}